*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.navbar-section{
    border: 1px dashed red;
}
.navbar-container{
    border: 1px dashed black;
}
.navbar-row{
    border: 1px dashed red;
}